button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: unset;
	border-radius: .25rem;;
	background: $color__background-button;
	color: var(--wp--preset--color--white);
	line-height: 1;
	padding: 0.5em 1em 0.4em;
	min-width:100px;
	text-align: center;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
