a {
	color: currentColor;
	text-decoration: none;

	&:visited {
		color: currentColor;
	}

	&:hover,
	&:focus,
	&:active {
		outline:0;
		color: currentColor;
	}

	&:hover,
	&:active,
	&:focus {
		border-bottom: 1px dotted;
    margin-bottom: -1px;
	}
}
