.site {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"header"
		"main"
		"sidebar"
		"footer";
	@media (min-width: $breakpoint_md) {
		grid-template-columns: ($size__site-sidebar) auto;
		grid-template-areas:
			"header header"
			"sidebar main"
			"footer footer";
	}
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	@media (min-width: $breakpoint_md) {
		margin-left: -$size__site-sidebar;
	}
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
